<section class="p-4 bg-secondary loginContainer" style="--bs-bg-opacity: .5;">
	<h2 class="text-primary mb-5">Login de usuario</h2>
	<h5 class="mb-3">Ingrese su nombre</h5>
	<form action="/home" method="POST">
		<div class='mb-4'>
			<input id="name-product" class="form-control" type='text' name='name' />
		</div>
		<div class='mb-3'>
			<input class="btn btn-success" type='submit' value='Enviar' />
		</div>
	</form>
</section>